# built objects
*.o
.old
acctcat
bitsend
bmail
funetnje
mailify
namesfilter
njeroutes
qrdr
receive
sendfile
tell
transfer
ucp
ygone
clientlib.a

# makeinfo/texinfo bits
funetnje.info
funetnje.dvi
funetnje.ps
